<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="highlight.min.css"/>

<link rel="stylesheet" href="styles/default.css">

<script src="highlight.min.js"></script>

<body ng-app="HLApp">

<div ng-controller="MainCtr" class="container">
    <div class="row header">
        <h2>Evernote助手 —— 代码高亮拷贝</h2>
    </div>
    <div class="row text-center">
        <form>
            <div class="form-group">
                <textarea  class="col-lg-10 form-control" rows="15" ng-model="code" placeholder="请输入代码"></textarea>&nbsp;
            </div>
            <div class="row form-group">
                <div class="col-sm-5 text-left">
                    <ui-select ng-model="style.selected" theme="selectize" title="样式" on-select="onSelectCallback($model)">
                        <ui-select-match placeholder="请选择样式">{{$select.selected.en}}</ui-select-match>
                        <ui-select-choices repeat="item.en as item in styles | filter: $select.search">
                            <div ng-bind-html="(item.zh+'（'+item.en+'）')|highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success" ng-click="show()">提交</button>
                </div>
            </div>
        </form>
    </div>
    <br/>
    <div class="row" >
        <pre class="hljs"><code id="code" >{{code}}</code></pre>
    </div>
</div>
</body>
</html>